<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/spenn02/AppiumExamplesNew/src/main/java/package1/LongPress.java">
        <classes>
            <class name="package1.LongPress">
                <methods>
                    <include name="LongPressGesture"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>